body {
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    background-color: white; 
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: white;
}
.navbar{
width:90%;
display: flex;
justify-content: space-between;
font-size: 15px;
}
.logo, .buscador{
    width: 15%;
}
.menu{
    width: 70%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 4em;

    
    } 
 a{
        text-decoration: none;

    }

nav {
        display:flex;
        max-width: 73.125em;
        height: 6.625em;
        align-items: center;
        

    }

.footerbody {
        background-color: #454648;
        padding: 50px 0;
         margin-right: auto;
        margin-left: auto; 
        text-align:center;
     
      
    }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    text-transform: uppercase;
    }
.navitem {
    
        text-align: center;
        text-transform: uppercase;
        display: inline;
        
        
    } 
.menu {
    word-spacing: 2em;
    justify-content: center;
}
 .navLink , .icon{
    font-size: 1.5em;
  line-height: 1.875em;
}
.navLink{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #151515;
  
}
.icon{
  color:  #151515;
  background: none;
  border: none;
  
} 
.navIcon{
    display:inline;
}
